/* You can add global styles to this file, and also import other style files */

.h1,
.h2,
.h3,
.h4,
.h5
 {

    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

p{
    
        font-family: "Kaushan Script", cursive;
        font-weight: 400;
        font-style: normal;
      
      
}

span{
   
        font-family: "Sofia", cursive;
        font-weight: 400;
        font-style: normal;
      
      
}